body{
    background-color: #0b0f12;
}
P{
    color: white;
    font: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.header{
    display: flex;
    flex: 1fr 1fr;
    justify-content: end;
    position: fixed;
    top: 20;
    left: 0;
    right: 20;
    background-color: #0b0f12;
    height: 55px;
    z-index: 2;
}
.header-right-section-div{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.header-left-section-div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.sidebar{
    display: flex;
    background-color: #0b0f12;
    top: 57px;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    width: 72px;
    position: fixed;
    justify-content: center;
    align-items: end;
    padding-bottom: 40px;
    
}
.link-button{
    height: 30px;
    width: 100px;
    background-color: #0b0f12;
    margin-left: 5px;
    border-radius: 3px;
    border: 0px;
}
a{
    text-decoration: none;
    color: white;
    font: 500;
    font-size: 14px;
    font-family:  'Roboto', sans-serif;
}
.me-img{
    display: block;
    object-fit: cover;
    height: 850px;
    border-color: #0b0f12;
    border-radius: 100px;
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.5);

}
.social-media-img{
    display: block;
    height: 15px;
    border-radius: 0px;
    margin-top: 20px;
   
}
.main-section-div{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    top: 100px;
    right: 0px;
    left: 0px;
}
.main-left-section-div{
    display: block;
    height: 677px;
    width: fit-content;
    background-color: #0b0f12;
    margin-right: 100px;
    align-items: end;
    padding-top: 173px;
   
}
.bewerbung-div{
    display: block;
    height: 577px;
    width: 1500px;
    left: 100px;
    background-color: #0b0f12;
    margin-left: 100px;
    padding-top: 17px;
}
.main-right-section-div{
    display: block;
    height: 850px;
    width: fit-content;
    margin-left: 100px;
    
}
.more-about-me-button{
    font-size: 30px;
    font: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #0b0f12;
    color: white;
    border: solid;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
}
.hidden-form{
    display: none;
}
.my-doc{
    font: 700;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 20px;
    

}
.choosing-button{
    font: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #0b0f12;
    color: white;
    border: none;
    border-radius: 20px;
    padding-inline: 30px;
    padding-block: 10px;
    transition: transform 330ms ease-in-out;

    
}

.preview{
    height: 400px;
    max-width: 290px;
    display: block;
    object-fit: cover;
    border-color: #0b0f12;
    border-radius: 20px;
    transition: transform 330ms ease-in-out;
    margin-top: 10px;
    margin-left: 30px;
}
.preview:hover  {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgba(255, 255, 255, 1.5);
    transform:scale(1.1);
}

.choosing-section-div{
    width: 400px;
}
.next-previous{
    font: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #0b0f12;
    color: white;
    border: none;
    border-radius: 20px;
    padding-inline: 30px;
    padding-block: 10px;
    transition: transform 330ms ease-in-out;
    border: 3px solid white;
    margin-right: 5px;
    margin-left: 5px;
    
}
.button-div{
    display: block;
    bottom: 200px;
    position: fixed;
}