P{
    color: white;
    font: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.application-text{
    color: white;
    font: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;  
}